<app-button [btnStyles]="styles" [accesibility]="values" (click)="toggleViewNav()">
  <span class="menu__line"></span>
</app-button>

<header class="header">
  <div class="header-container">
    <img src="/assets/arg-programa.png" alt="" class="logo">
    <div class="panelUser">
      <nav class="nav">
        <ul class="navMenu">
          <li class="navMenu__item" *ngFor="let link of links">
            <a [href]="link[1]" (click)="toggleViewNav()">{{ link[0] }}</a>
          </li>
        </ul>
      </nav>
      <button class="button__none navMenu__item navMenu__item_lightColor" (click)="connect()">{{ connectionText
        }}</button>
    </div>
  </div>
</header>

<app-login *ngIf="viewFormLogin" [viewForm]="viewFormLogin" (close)="closeForm()"></app-login>
