<article class="socialCard">
  <a href="https://www.linkedin.com/in/giuliano-cappa" target="_blank" class="socialCard__button">
    <img src="/assets/icons/linkedin.svg" alt="LinkedIn">
  </a>
  <a href="https://github.com/Martiks38?tab=repositories" target="_blank"
    class="socialCard__button socialCard__button_invert">
    <img src="/assets/icons/github.svg" alt="Repositorio de GitHub">
  </a>
  <a href="mailto:cappa.giuliano@gmail.com" class="socialCard__button">
    <img src="/assets/icons/gmail.svg" alt="Gmail">
  </a>
</article>
