<div class="bg-modal" (click)="closeModal()"></div>
<div class="modal modal-login">

  <form [formGroup]="form" class="login" (ngSubmit)="onSubmit($event)">
    <h3>Iniciar sesión</h3>
    <div class="form-error-message" role="log" aria-live="polite">
      <div *ngIf="Username?.errors && Username?.touched">
        <p *ngIf="Username?.errors?.['minlength'] || Username?.errors?.['maxlength']">
          El campo nombre de usuario debe tener de 8 a 16 carácteres.
        </p>
      </div>
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.errors?.['minlength'] || Password?.errors?.['maxlength']">
          El campo contraseña debe tener de 8 a 32 carácteres.
        </p>
      </div>
      <p *ngIf="error">{{ error }}</p>
    </div>
    <fieldset>
      <legend>Datos de usuario</legend>
      <label for="username">Nombre de usuario</label>
      <input #login type="text" formControlName="username" id="username" name="username"
        [ngClass]="{'form-input': true, 'form-input-warning': (Username?.errors && Username?.touched) || Username?.hasError('username')}"
        placeholder="userExample123">
      <label for="password">Contraseña</label>
      <input type="password" formControlName="password" id="password" name="password"
        [ngClass]="{'form-input': true, 'form-input-warning': (Password?.errors && Password?.touched) || Password?.hasError('password')}"
        placeholder="passwordExample123">
    </fieldset>
    <div class="panelBtn">
      <button type="submit" class="button button-form">Ingresar</button>
      <button class="button button-form" (click)="closeModal()">Cancelar</button>
    </div>
  </form>

</div>

<style>

</style>
