<article class="relative card">

  <div class="floatBtns">
    <app-button-edit *ngIf="viewEdit" [bg]="'var(--color-black-1)'">
      <app-edit (click)="update()"></app-edit>
      <app-delete (click)="delete($event)"></app-delete>
    </app-button-edit>
  </div>

  <div class="card-containerImg" (mouseenter)="slider($event)" (mouseleave)="reset()">
    <img *ngFor="let url of urlImgs; index as i; first as isFirst" [src]="url"
      alt="Imagen de presentación {{i + 1}} de la página {{project['title']}}"
      [class]="{'card-img': true, 'active': isFirst}" width="350" height="175" />
  </div>
  <div class="card-description">
    <h4 class="card-title">{{ project.title }}</h4>
    <div class="card-text">
      <p *ngFor="let paragraph of paragraphs" class="card-paragraph">
        {{ paragraph }}
      </p>
      <p [innerHtml]="techs" class="card-paragraph"></p>
    </div>
    <div class="card-links">
      <a (mouseenter)="ripple($event)" (mouseleave)="removeRipple($event)" [href]="project.url_page"
        class="button button-link" target="_blank">
        <span class="button-text">
          Visitar sitio
        </span>
      </a>
      <a (mouseenter)="ripple($event)" (mouseleave)="removeRipple($event)" [href]="project['url_code']"
        class="button button-link" target="_blank">
        <span class="button-text">
          Ver código
        </span>
      </a>
    </div>
  </div>
</article>
